
header {
    margin-bottom: 0px;
    background-color: rgb(189, 178, 255);

}

header h1 {
    color: rgb(255, 255, 252);
    font-family: 'Bebas Neue', cursive;
    text-align: center;
    position: relative;
    margin: 0px;
    padding: 20px;
}

nav {
    border-width: 0px;
    background-color: rgb(202, 255, 191);
    text-align: center;
    margin: 0px;
    padding: 2px;    
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline-block;
    margin-left: 20px;
    font-family: 'PT Sans', sans-serif;
}

.button {
    background-color: cadetblue;
    border-radius: 10%;
    padding: 10px;
}

main {
    width: 50%;
    margin: auto
}

article h2 {
    font-family: 'Bebas Neue', cursive;
    font-weight: 100px;
    font-size: 70px;
    position: relative;
}

article h3 {
    font-family: 'Bebas Neue', cursive;
    font-weight: 100px;
    font-size: 40px;
    position: relative;
}

table {
    border: solid black;
    width: 5;
    position: middle;
}

.titleArticle {
    text-align: center;

}

.image-1 {
    width: 40%;
    padding-left: 20%;
}

section p {
    font-family: 'PT Sans', sans-serif;
    text-align: justify;
}

