h1 {
    text-align: center;
  }
  .list {
      list-style: none;
      position: relative;
      text-align: center;
  }

  .inline {
      display: inline-block;
      margin: 0px
  }

  

  .first {
    background-color: rgb(235, 200, 84);
    font-size: 20px;
    height: 50px;
    text-align: center;
    width: 200px;
  }

  .second {
    background-color: rgb(219, 219, 219);
    font-size: 20px;
    height: 50px;
    text-align: center;
    width: 300px;
  }

  .third {
    background-color: rgb(170, 142, 106);
    font-size: 20px;
    height: 50px;
    text-align: center;
    width: 300px;
  }

  .margin {
      border: solid black;
  }

  
  h3 {
      text-align: center;
  }